body {
    background-color: #f5f5f5;
}

/* 覆盖layui样式 */
.layui-table-cell {
    height: auto;
}

.layui-layout-admin .layui-body {
    padding-bottom: 0;
}

.layui-layout-admin .layui-logo {
    color: #1E9FFF;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em,
.layui-form-checked[lay-skin="primary"] i,
.layui-nav-tree .layui-nav-bar,
.layui-form-select dl dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
    background-color: #1E9FFF;
}

.layui-nav-tree .layui-nav-child a {
    padding-left: 2em;
}

.layui-nav-tree .layui-nav-item > a .layui-nav-more,
.layui-nav-tree .layui-nav-item > a {
    padding-top: 0;
    padding-bottom: 0;
}


/* 自定义样式 */
.admin-content {
    margin: 12px;
    padding: 12px;
    min-height: 550px;
}


#menu-form,
#role-form,
#user-form {
    padding: 20px;
}

.avatar {
    height: 60px;
    width: 60px;
}